# Ignore
/.certs/
*.env
/.venv/
secrets.json
/test/*/config.json
/monitoring/Sneaky-Scripts
/test/logs/
/test/logs/*
/test/karate-1.40.jar

# Don't Ignore
!local-compose.env
frontend/Dockerfile.dev
frontend/Dockerfile.dev
docker-compose-dev.yml
